body{
    background-image: url(img4new2.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}
.name{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }